<div class="wrap-bread-crumb breadcrumb_collection2">
  <div class="text-center bg-breadcrumb" style="background-image : url({% if section.settings.bg_breadcrumb != blank  %}{{section.settings.bg_breadcrumb | img_url : 'master'}} {% else %}//via.placeholder.com/1920x510 {% endif %})">
    {% include 'breadcrumb' %}
  </div>
</div>

<div class="container container-v2">
  <div class="list-category row">
    {% for collection in collections %}

    {% if collection.empty? %}
    {% comment %}add default state for collection block in theme editor{% endcomment %}
    {% assign collection_image_url = '' %}
    {% else %}
    {% if collection.image %}
    {% capture collection_image_url %}{{ collection | img_url: 'master' }}{% endcapture %}
    {% elsif collection.products.first %}
    {% capture collection_image_url %}{{ collection.products.first | img_url: 'master' }}{% endcapture %}
    {% endif %}
    {% endif %}

    <div class="col-md-4 margin-bottom-30">
      <div class="img_collection">
        <a href="{{ collection.url }}">
          <img src="{{ collection_image_url }}" alt="{{ collection.title }}" title="{{ collection.title }}">
        </a>
      </div>
      <div class="info_col text-center">
        <h3 class="title_collection">
          {{ collection.title }}
        </h3>
        <div class="total_item"> {{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'Item', 'Items' }} </div>

        <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="shop-button">
          {{'list_collection.view_more'|t}}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "List Collection",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_breadcrumb",
      "label": "Background Image Breadcrumb",
      "info": "1920x510px recommended"
    }
  ],
  "presets": [
    {
      "name": "List Collection"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
