<div data-section-id="{{ section.id }}" data-section-type="section-collection-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-collection-v1 mt-all">
    <div class="">
      {% if section.settings.title_heading != blank %}
      <h3 class="title_heading text-center" style="color: {{section.settings.color_title}}">{{section.settings.title_heading}}</h3>
      {% endif %}
      <div class="container container-v2">
        <div class="row no-gutters js-collection-v1">
          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
          {% if block.type == 'colection' %}
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 col-item">
            <div class="item">
              <div class="">
                <a href="{{block.settings.brand_url}}">
                  {% if block.settings.brand_img != blank %}
                  <img data-src="{{block.settings.brand_img | img_url:'master'}}" class="lazyload img-fluid w-100" alt="collection">
                  {% else %}
                  <img data-src="https://via.placeholder.com/456x600" class="lazyload img-fluid w-100" alt="collection">
                  {% endif %}
                </a>
              </div>
              <div class="category-info">
                <div class="box-info">
                  {% if block.settings.block_content != blank %}
                  <a href="{{block.settings.brand_url}}" class="content-box mb-0">{{block.settings.block_content}}<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %} 
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
  "name": "COLLECTION V1",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title_heading",
      "label": "Title Heading",
      "default": " Visit Our Store"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title Heading",
      "default": "#9e6d54"
    },
  {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "colection",
      "name": "Item Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_img",
          "info": "456 x 600px recommended",
          "label": "Collection 1"
        },
    {
          "type": "text",
          "id": "block_content",
          "label": "Content",
          "default": " Collection"
        },
        {
          "type": "url",
          "id": "brand_url",
          "label": "URL collection",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "COLLECTION V1",
      "category": "HOME",
    "blocks": [
        {
          "type": "colection",
          "settings": {
            "block_content": "Holiday Collection"
          }
        },
        {
          "type": "colection",
          "settings": {
            "block_content": "Gift Collection"
          }
        },
        {
          "type": "colection",
          "settings": {
            "block_content": "Best Sellers Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
