<div data-section-id="{{ section.id }}" data-section-type="section-banner-v6" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v6 mt-all">
    <div class="">
      <div class="">
        <div class="row no-gutters">        
          <div class="col-12">
            <div class="box-video">
              <a data-fancybox href="{{ section.settings.section_video_url }}">              
                {% if section.settings.banner_img != blank %}
                <img data-src="{{section.settings.banner_img|img_url:'master'}}" class="lazyload img-fluid w-100" alt="">
                {% else %}
                <img data-src="//via.placeholder.com/1920x620" class="lazyload img-fluid w-100" alt>
                {% endif %}
                <i class="fa fa-play"></i>
              </a>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}{
"name": "BANNER V6",
"settings": [
  {
    "type": "header",
    "content": "Banner Image"
  },
  {
    "type": "image_picker",
    "id": "banner_img",
    "info": "1920 x 620px recommended",
    "label": "Banner Image"
  },
  {
    "type": "header",
    "content": "Video"
  },
  {
    "type": "url",
    "id": "section_video_url",
    "label": "URL Video",
    "info": "[Upload video .mp4 in here](/admin/settings/files)"
  },
  {
    "type": "header",
    "content": "Section Space"
  },
  {
    "type": "text",
    "id": "margin_top",
    "label": "Margin Top",
    "info": "Defined in pixels. Do not add the 'px' unit."
  },
  {
    "type": "text",
    "id": "margin_bottom",
    "label": "Margin Bottom",
    "info": "Defined in pixels. Do not add the 'px' unit."
  }
],
"presets": [
  {
    "name": "BANNER V6",
    "category": "HOME"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
